@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Miedinger";
    src: url("/fonts/Miedinger-W01-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Neometric Extra Bold";
    src: url("/fonts/Neometric-Extra-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "Neometric Medium";
    src: url("/fonts/Neometric-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Neometric Regular";
    src: url("/fonts/Neometric-Regular.woff") format("woff");
  }
}
@layer utilities {
  .square {
    aspect-ratio: 2 / 1;
  }
}
